.n{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.m{
    align-items: center;
    margin-left: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.p{
    text-align: center;
}
.k{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-content: center;
}
.l{
    align-items: center;
}